#button, #playingField, #iPage input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button.new {
  margin: 10px;
  padding: 10px;
  background: #76b1f5;
  border: #3172bb;
  border-radius: 5%;
  cursor: pointer;
  width: 150px;
  height: 50px;
  color: white;
}
.button.hover {
  background: #91ccf6;
  border: #72a9e7;
}

.ballShow, .imgShow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  cursor: pointer;
}
.class-margin {
  margin: 20px;
}
.red {
  background: red;
}
.yellow {
  background: yellow;
}
.green {
  background: green;
}
.blue {
  background: blue;
}

#go, .block {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#canvas {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 38%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
p, h2 {
  text-align: center;
}
p {
  font-size: 22px;
}

#playingField {
  position: relative;
  border: 1px solid  black;
  background: #F4F4F4;
}
#ball {
  border-radius: 50%;
  position: absolute;
}
#barrier {
  position: absolute;
  background: black;
}
#bonus {
  position: absolute;
  background: green;
}
#gameEnd {
  font-size : 30px;
  font-weight : bold;
  color: red;
}
.ui-dialog-titlebar.modal-window {
  background-color: #7678f5;
  color: white;
}
form .ui-button.button-size {
  margin: 10px;
  padding: 10px;
  width: 110px;
  height: 50px;
  color: white;
}
.namePlayer.sErrorText {
  color: red
}
.namePlayer.sErrorInput {
  background-color: #FF8080
}
