#button, #playingField {
  display: block;
    margin-left: auto;
    margin-right: auto 
  /*display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;*/
}
#goal {

}

p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
#playingField {
  position: relative;
  border: 1px solid  black;
  background: #F4F4F4;
}
#ball {
  border-radius: 50%;
  position: absolute;
  background: #F0463A;
  /* margin:-15px 0 0 -15px;
  transition: top 0.5s, left 0.5s;
  -webkit-transition: top 0.5s, left 0.5s; */
}
#barrier {
  position: absolute;
  background: black;
}
#bonus {
  position: absolute;
  
}
#block {
  position: absolute;
  background: #FFF0F5;
}